<h1> Edit the Post</h1>
<%= form_for :post , url: post_path(@post) , method: :patch  do |f| %>
    <p>
        <%= f.label :Title %><br>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :Description %><br>
        <%= f.text_field :dec %>
    </p>

    

    <p>
     <%= f.submit %>
    </p>
<% end %>