<!DOCTYPE html>
<html>
  <head>
    <title>Photogram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <h2><%= link_to "New Post", new_post_path %>
  <%= link_to "ALL Posts", posts_path %></h2>
  <body>
    <%= yield %>
  </body>
</html>
